@import url('https://fonts.googleapis.com/css?family=Chewy');
body{
  font-family: 'Chewy', cursive;
  color:firebrick;
}
.nav1 {
  background-color: #030303;
  margin-top: -17px;
  margin-left: -8px;
  margin-right: -8px;
  height: 85px;
}
.nav3{
  margin-left: 166px;
  margin-top: -50px;
}
.nav4 {
  display: inline-block;
}
.nav5 {
    text-decoration: none;
    color: #fff;
    margin-left: 41px;
    font-size: 18px;
    display: inline-block;
    height: 50px;
    margin-bottom: -80px;
}
.nav6 {
    margin-left: 20px;
    margin-top: 8px;
}
.MyHome{
  text-align: center;
  background-image: url("https://i.imgur.com/b5gyuB8.jpg");
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.HandDrawn1{
  background: no-repeat left linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url("https://i.imgur.com/aKRSR9O.jpg");
  background-size: cover;
  text-align:center;
}
#MyHome2{
  margin-left:10%;
  margin-right:10%;
}
.handdrawn1{
  text-align:center;
}
.transbox > a:nth-child(20) > img:nth-child(1){
  margin-bottom: 39px;
}
.transbox > a:nth-child(21) > img:nth-child(1){
  margin-bottom: 61px;
}
.transbox > a:nth-child(22) > img:nth-child(1){
  margin-bottom: 88px;
}
.dddart{
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  background: center linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url("https://i.imgur.com/AGCOEQA.png");
  background-size:cover;
}
.dddart1{
  text-align:center;
  margin-left:10%;
  margin-right:10%;
}
div.dddart:nth-child(5) > h3:nth-child(1){
  padding-top:20px;
}
div.dddart:nth-child(7) > h3:nth-child(1){
  padding-top:20px;
}
div.dddart:nth-child(7){
  margin-top:-20px;
}
div.dddart:nth-child(8) > h3:nth-child(1){
  padding-top:20px;
}
div.dddart:nth-child(8){
  margin-top:-20px;
}
div.dddart:nth-child(9) > h3:nth-child(1){
  padding-top:20px;
}
div.dddart:nth-child(9){
  margin-top:-20px;
}
.computer{
margin-left: 10%;
margin-right: 10%;
}
.computer1{
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  background: center linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)), url("https://i.imgur.com/P6528Dj.png");
  background-size:cover;
}
.computergraphics1 > div:nth-child(4) > h1:nth-child(1){
  text-align: center;
}
div.computer1:nth-child(1) > h3:nth-child(1){
  padding-top:20px;
}
div.computer1:nth-child(2) > a:nth-child(16) > img:nth-child(1){
  margin-bottom:46px;
}
div.computer1:nth-child(2) > a:nth-child(15) > img:nth-child(1){
  margin-bottom:81px;
}
div.computer1:nth-child(2) > a:nth-child(14) > img:nth-child(1){
  margin-bottom:62px;
}
div.computer1:nth-child(3) > a:nth-child(3) > img:nth-child(1){
  margin-bottom:11px;
}
.projects{
margin-left: 10%;
margin-right: 10%;
}
.projects1{
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  background: center linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url("https://i.imgur.com/bfqzcI8.jpg");
  background-size:cover;
}
div.projects1:nth-child(1) > h2:nth-child(1){
  padding-top:20px;
}
div.projects1:nth-child(2) > h3:nth-child(5){
  padding-bottom:20px;
}
div.projects1:nth-child(3){
  margin-top:-18px;
}
div.projects1:nth-child(4){
  margin-top:-18px;
}
div.projects1:nth-child(4) > h3:nth-child(1){
  padding-top:20px;
}
div.projects1:nth-child(5){
  margin-top:-20px;
}
div.projects1:nth-child(5) > h3:nth-child(1){
  padding-top:20px;
}
.content {

  font-size: 48px;
  line-height: 53px;
  font-family: 'chewy', cursive;
  color: firebrick;
  height: 160px;
  overflow:hidden;
}

.visible {
    font-weight: 600;
    overflow: hidden;
    height: 65px;
    padding: 0 40px;
}

  &:before {
    content:'[';
    left: 0;
    line-height:45px;
  }

  &:after {
    content:']';
    right: 0;
    line-height:40px;
  }

&:after, &:before {
    top: 0;
    color: firebrick;
    font-size: 42px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#scroller {
  margin-top:0;


  list-style:none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

#scrollLines {
  line-height:60px;
  margin-left:-44px;
  text-align:center;
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
}
.about1{
  text-align: center;
  background-image: url("https://i.imgur.com/b5gyuB8.jpg");
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.about{
  text-align:center;
}
#AboutMe{
  text-align:center;
}
#AboutMe > a:nth-child(7){
  text-decoration: none;
  color: #567AB7;
}
#AboutMe > a:nth-child(8){
  text-decoration: none;
  color: #567AB7;
}
.footer {
    background-color: #fcfcfc;
    height: 186px;
    left: 0;
    bottom: 0;
    display: block;
    right: 0;
    margin-left: -8px;
    margin-right: -8px;
    margin-top:40px;
    height: 186px;
}
.copyright {
    background-color: #fcfcfc;
    height: 23px;
    margin-top: -25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 82px;
    color: firebrick;
    margin-top: -20px;background-color: #fcfcfc;
    height: 23px;
    margin-top: -9px;
}
.footerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footernav {
    display: block;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.footernav1 {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.footernav2 {
    text-decoration: none;
    color: firebrick;
}
.fab.fa-linkedin-in {
    margin-bottom: 25px;
    color: firebrick;
    font-size: 33px;
    display: block;
    text-decoration: none;
}
.social {
    width: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration:none;
}
