@import url(//fonts.googleapis.com/css?family=Open+Sans);
body{
    background: url(https://i.imgur.com/rYPOU3r.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}
header{
    height: 97px!important;
    background-color:#bcbe01;
    width: 100%;
    padding top:14px;
    padding-left: 15px;
    padding-right:10px;
    margin-top:0px;
    z-index: 1;
    position: fixed;


}
.font{
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  font-family: arial;
  font-size: 22px;
}
.font a{
  padding-left: 5px;
  padding-right:5px;
}

.font a:hover {
  color:white!important;
  background-color: #151B8D;
  padding-top:5px;
  padding-bottom:5px;
  border-color: black;
  border-style: double;
  border-radius:7px;
}
.font a:active{
  color:black;
  background-color: yellow;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.text-center{
  text-align: center;
}
#bodytext{
  font-size: 35px;
  font-family:Lucida Sans!important;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
#bodytext2{
  font-size: 30px;
  font-family:Lucida Sans!important;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}
#headingtext{
  text-align:center!important;
  font-family:Lucida Sans!important;
  font-size: 40px;
  color:#0808a6;
}
#headingtext2{
  text-align:center!important;
  font-family:Lucida Sans!important;
  font-size: 35px;
  color:#0808a6;
}
#headingtext3{
  text-align: left!important;
  font-family:Lucida Sans!important;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  color:#0808a6;
}
#img-align {
    float:right;
    border:solid;
    margin-bottom:50px!important;
    margin-right: 50px;
    margin-left: 50px;
}
#container1{
  margin-left: 15%;
}
footer {

    bottom:0;
    width: 100%;
    background-color: #2b2929;
    height: 120px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 90%;
    margin-right: 5px;
}
.footernav:a{
  display: block;
  font-family: arial;
  padding-right: 5px;
  font-size: 10px;
  color: #808080!important;
}

.slider{
    overflow: hidden;
    height: 350px;
}
.slider figure div{
    width: 9.09%;
    float: left;
}
.slider figure img{
    width: 100%;
    float: left;
}
.slider figure{
    position: relative;
    width: 1100%;
    margin: 0;
    Left: 0;
    animation: 68s slidy infinite;
}
@keyframes slidy{
    0%{
        Left: 0%;
    }
    7%{
        Left: 0%;
    }
    9%{
        Left: -100%;
    }
    16%{
        Left: -100%;
    }
    18%{
        Left: -200%;
    }
    25%{
        Left: -200%;
    }
    27%{
        Left: -300%;
    }
    34%{
        Left: -300%;
    }
    36%{
        Left: -400%;
    }
    43%{
        Left: -400%;
    }
    45%{
        Left: -500%;
    }
    52%{
        Left: -500%;
    }
    54%{
        Left: -600%;
    }
    61%{
        Left: -600%;
    }
    63%{
        Left: -700%;
    }
    70%{
        Left: -700%;
    }
    72%{
        Left: -800%;
    }
    79%{
        Left: -800%;
    }
    81%{
        Left: -900%;
    }
    89%{
        Left: -900%;
    }
    91%{
        Left: -1000%;
    }
    100%{
        Left: -1000%;
    }
}

.pull-right{
  float: right;
}
 .form-align{
    border:solid;
    margin-bottom:90px;
 }
 .img-align1{
    float:right;
    border:solid;
 }
@media only screen and (min-width: 40.063em) and (max-width: 64em){
body > header > img{
   width:951px;
  }
body > header{
   height:143px!important;
  } 
)    
